extends layout

block content
  h1= title
  p 
    | Welcome to #{title}. Click the options below, and if necessary 
    | scroll down to see the results.

  ul 
    li 
      a(href='/#/databaseName') Get current Database Name and all names
    li
      a(href='/#/createDb') CreateDb
    li
      a(href='/#/deleteDb') DeleteDb
    br
    li
      a(href='/#/insertnpcsBulk') Insert npcs in Bulk
    li
      a(href='/#/insertnpcsOneDoc') Insert npcs as one document
    li
      a(href="/#/designDoc") Insert Design Doc
    br
    li
      a(href="/#/readOne") Read One Doc
    li
      a(href="/#/viewOneDoc") View npcs from one document
    li
      a(href="/#/viewBulk") View NPCS Bulk documents

  p {{debug}}

  div
    div(data-ng-view='')
