block content
    div.databaseOptions
        ul
            li
                a(href="readOne") Read One Doc
            li
                a(href="readOne") View NPCs Bulk documents
            li
                a(href="readOne") View NPCs One document