extends layout

block content
  div.container-fluid
    div.col-lg-4.text-center
      h1= title
      h2.text-muted= name

      .panel.panel-default
        .panel-heading Facebook | Google
        .panel-body

          ul.nav.nav-pills.nav-stacked
            li
              a(href='/facebook/login').btn.btn-primary.col-lg-12 Log In with Facebook
            li
              a(href="/facebook/profile").btn.btn-primary.col-lg-12 Facebook Profile
            li
              a(href='/auth/google').btn.btn-primary.col-lg-12 Log In Google
            li
              a(href='/auth/account').btn.btn-primary.col-lg-12 Google Account

      .panel.panel-default
        .panel-heading Basics
        .panel-body
            div
              a(href='/logout').btn.btn-primary.col-lg-12 Logout

            button#status.btn.btn-danger.col-lg-12 Status

            div.col-lg-4
                pre#report.col-lg-12 <*)))))><{ A fish
                pre#debug.col-lg-12