extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    input#operatorA(type='number', value='2')
  div
    input#operatorB(type='number', value='3')

  div
    button.btn.btn-primary#read Read
    button.btn.btn-primary#readJson ReadJson
    button.btn.btn-primary#add Add

  div
    pre#display